* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

#wintext {
    padding: 20px;
    text-align: center;
    background-color: #d0f44e;
    border: 2px solid #e8a87c;
    border-radius: 15px;
    color: #4149b4;
    font-size: 24px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}

#wintext b {
    color: #e27d60;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
    font-size: 2.5em;
}


blockquote {
    text-align: center;
    font-style: italic;
    color: #555;
    margin: 20px 0;
    padding: 10px;
    border-left: 5px solid #007BFF;
}


hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}


p {
    margin-bottom: 20px;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}


.skills {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}


.textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    resize: vertical;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}


#willingnessToBuy {
    font-weight: bold;
    color: #007BFF;
}

#submitButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; 
    background-color: #002244; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitButton:hover {
    background-color: #0f3d6b; 
}


@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .textarea {
        height: 120px;
    }
}

